@using BlazorApp.Shared
@inject HttpClient Http
@page "/"

<h1>Hello, NET Conf España!</h1>

@foreach (var item in todoItems)
{
	<p>@item.Message</p>
}



@code {
	private List<TodoItem> todoItems = new List<TodoItem>();

	protected override async Task OnInitializedAsync()
	{
		try
		{
			todoItems = await Http.GetFromJsonAsync<List<TodoItem>>("/api/todo");
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex.ToString());
		}
	}
}